<my-tabs>
  <my-tab title="Tab title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maxime dolor
    velit minima. Quam ut asperiores, repudiandae ea aperiam temporibus quidem,
    rem eum corporis culpa nulla, illo commodi. Laudantium, rem. Pariatur porro
    error reiciendis nihil vel dolor provident commodi nam saepe est aut
    repellendus quasi a magni, dolores voluptatibus? Atque deleniti id fugiat
    maiores ullam mollitia. Doloribus fuga quisquam numquam. Voluptatum quos
    enim veritatis nesciunt aspernatur. Nisi, nostrum ut. Atque adipisci aut
    enim praesentium voluptas dolorum vero? Voluptates, earum distinctio
    consequatur vero, quas commodi quod, sit enim quidem mollitia atque. Iste
    molestiae possimus libero dicta ex voluptatibus natus quo similique
    accusantium earum, architecto voluptatem dolore praesentium quis provident
    at laudantium odio officiis sit tempora velit iure sapiente! Modi, est
    veritatis.

    <dashboard-tile a="1" b="2" c="3"></dashboard-tile>

    <div slot="footer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit magni eos
      quidem, odio, consequuntur dignissimos natus eveniet non doloribus nemo
      quia rem aliquam debitis atque minima tempora aut quisquam ipsa.
    </div>
  </my-tab>

  <my-tab title="Tab 2 title">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem maxime dolor
    velit minima. Quam ut asperiores, repudiandae ea aperiam temporibus quidem,
    rem eum corporis culpa nulla, illo commodi. Laudantium, rem. Pariatur porro
    error reiciendis nihil vel dolor provident commodi nam saepe est aut
    repellendus quasi a magni, dolores voluptatibus? Atque deleniti id fugiat
    maiores ullam mollitia. Doloribus fuga quisquam numquam. Voluptatum quos
    enim veritatis nesciunt aspernatur. Nisi, nostrum ut. Atque adipisci aut
    enim praesentium voluptas dolorum vero? Voluptates, earum distinctio
    consequatur vero, quas commodi quod, sit enim quidem mollitia atque. Iste
    molestiae possimus libero dicta ex voluptatibus natus quo similique
    accusantium earum, architecto voluptatem dolore praesentium quis provident
    at laudantium odio officiis sit tempora velit iure sapiente! Modi, est
    veritatis.

    <div slot="footer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit magni eos
      quidem, odio, consequuntur dignissimos natus eveniet non doloribus nemo
      quia rem aliquam debitis atque minima tempora aut quisquam ipsa.
    </div>
  </my-tab>
</my-tabs>
